CompileFlags:
    Add:
        - -std=c++23
        - -I/home/timmy/code/routine/inc
        - -lpthread
        - -Wall
        - -Wextra
        - -Wpedantic

Documentation:
  CommentFormat: Doxygen
